[submodule "deps/libuv"]
	path = deps/libuv
	url = git@github.com:qwtel/zig-build-libuv.git
	branch = v1.x
[submodule "deps/wasm3"]
	path = deps/wasm3
	url = git@github.com:qwtel/zig-build-wasm3.git
[submodule "deps/libffi"]
	path = deps/libffi
	url = git@github.com:libffi/libffi.git
	ignore = dirty
[submodule "deps/quickjs"]
	path = deps/quickjs
	url = git@github.com:qwtel/zig-build-quickjs.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = git@github.com:qwtel/zig-build-mimalloc.git
