[submodule "deps/libuv"]
	path = deps/libuv
	url = git@github.com:qwtel/zig-build-libuv.git
	branch = v1.x
[submodule "deps/quickjs"]
	path = deps/quickjs
	url = git@github.com:qwtel/zig-build-quickjs.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = git@github.com:qwtel/zig-build-mimalloc.git
[submodule "deps/wamr"]
	path = deps/wamr
	url = git@github.com:qwtel/zig-build-wamr.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = git@github.com:qwtel/zig-build-mbedtls.git
[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = git@github.com:qwtel/zig-build-libwebsockets.git
