[submodule "deps/libuv"]
	path = deps/libuv
	url = git@github.com:qwtel/zig-build-libuv.git
	branch = v1.x
[submodule "deps/quickjs"]
	path = deps/quickjs
	url = git@github.com:qwtel/zig-build-quickjs.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = git@github.com:qwtel/zig-build-mimalloc.git
[submodule "deps/wamr"]
	path = deps/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = https://github.com/warmcat/libwebsockets
	ignore = dirty
